doctype html
html
  head
    title Bands | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Bands
        p Band listings coming soon.
    include ./_footer.pug
