doctype html
html
  head
    title Camps & Workshops | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Camps & Workshops
        p Camp and workshop listings coming soon.
    include ./_footer.pug
