doctype html
html
  head
    title Festivals | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Festivals
        p Festival listings coming soon.
    include ./_footer.pug
