doctype html
html
  head
    title Learn to Play | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Learn to Play
        p Learn to Play resources coming soon.
    include ./_footer.pug
