doctype html
html
  head
    title Lesterslist.com | Not Found
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Page Not Found
        p Sorry, the page you are looking for does not exist.
    include ./_footer.pug
