//- _footer.pug - shared footer for all pages
footer
  .footer-content
    p
      | © 2026 Lesterslist.com. All rights reserved. |
      a(href='/about') About
      |  |
      a(href='https://facebook.com/lesterslist' target='_blank') Facebook
      |  |
      a(href='mailto:info@lesterslist.com') Contact
    p
      | Site by Greg Lester. Powered by Node.js/Express.
