doctype html
html
  head
    title Local Jams | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Local Jams
        if error
          p.error= error
        if jams && jams.length
          ul.jam-list
            each jam in jams
              li
                strong= jam.JamName
                |  - 
                span= jam.MeetingDetails
                if jam.ContactPerson
                  br
                  span Contact: #{jam.ContactPerson}
        else
          p No jams found.
    include ./_footer.pug
