doctype html
html
  head
    title Learn to Play | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Learn to Play
        if error
          p.error= error
        if learn && learn.length
          ul.learn-list
            each item in learn
              li
                strong= item.InstructorName
                |  - 
                span= item.CourseDescription
                if item.ExternalLink
                  br
                  a(href=item.ExternalLink, target='_blank') More Info
        else
          p No Learn to Play resources found.
    include ./_footer.pug
